<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button (click)="closeModal()">
      <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Locations</ion-title>
</ion-toolbar>

<ion-content>
  <ion-searchbar type="number" showCancelButton="never"></ion-searchbar>
  <ion-virtual-scroll [items]="locationList" approxItemHeight="320px">
    <ion-item *virtualItem="let item;" (click)="selectedManufacturer(item)">
      {{item.businessName}}
    </ion-item>
    </ion-virtual-scroll>
</ion-content>