<div class="center w-p-100 toolbar">
  <form [formGroup]="forgotPasswordForm">
    <div class="m-l-r-10 h-px-90">
      <div class =" row ver_hor_center">
        <i class="fa fa-user-circle" aria-hidden="true" style='color: white; font-size: 25px; margin-top:40px'></i>
        <ion-item>
          <ion-label position="floating" class =" text-white">Username</ion-label>
          <ion-input type="text" formControlName="username" class="text"></ion-input>
        </ion-item>
      </div>
      <div [hidden]="!isValidField(forgotPasswordForm, 'username')">
        <p class="error height-match">{{getErrorMessage(forgotPasswordForm, validationMessages, 'username')}}</p>
      </div>
    </div>
    <div class="m-l-r-10 h-px-70" *ngIf="showSecurityQuestion">
      <div class =" row ver_hor_center">
        <i class="fa fa-question-circle" aria-hidden="true" style='color: white; font-size: 25px; margin-top:40px'></i>
        <ion-item>
          <ion-label position="floating" class ='text-white'>Security Question</ion-label>
          <ion-input type="text" formControlName="securityQuestion" class="text"></ion-input>
        </ion-item>
      </div>
      <div [hidden]="!isValidField(forgotPasswordForm, 'securityQuestion')">
        <p class="error height-match">{{getErrorMessage(forgotPasswordForm, validationMessages, 'securityQuestion')}}
        </p>
      </div>
    </div>
    <div class="m-l-r-10 ion-text-center my-30">
      <ng-container *ngIf="!showSecurityQuestion" >
        <ion-button class="pointer get-security-question center" expand="block" fill="outline" (click)="getSecurityQuestion()"
          [disabled]="forgotPasswordForm.get('username').invalid" >
          Get Security Question</ion-button>
      </ng-container>
      <ng-container *ngIf="showSecurityQuestion" class="my-15">
        <ion-button class="pointer get-security-question center " expand="block" fill="outline" (click)="getSecurityQuestion()"
          [disabled]="forgotPasswordForm.invalid" (click)="getForgotPassword()">Get Password</ion-button>
      </ng-container>
      <div class=" mt-15 py-15">
        <div class="ion-float-left">
          <a class="pointer" routerLink="/registration" class='link'>Register?</a>
        </div>
        <div class="ion-float-right">
          <a class="pointer" routerLink="/login" class="link">Login ?</a>
        </div>
      </div>
    </div>
  </form>
</div>