.toolbar {
    --ion-background-color: transparent;
    color: white;
}

.text-white {
    --color: white;
    font-size: 20px;
}

ion-item {
    width:85%;
}

.get-security-question {
    --ion-border-color:white;
    width:50%;
    color:white
}
.link {
    color:white;
    font-size: 20px;
}

.text {
    color: white;
    font-weight: bold;
}