/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.pointer {
    cursor: pointer;
}

.circle {
  border-radius: 50%;
}

.mt-15 {
    margin-top: 15px !important
}

.mt-10 {
    margin-top: 10px !important
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.w-50-p {
    width: 50%;
}
.row {
    display: flex;
    flex-direction: row;
}
.error {
  color: #ff6a00;
  font-size: 14px;
}
.error.height-match {
    margin-top: 5px;
    margin-left: 15%;
}
.ver_hor_center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
}
.hor_center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.center {
    margin:auto;
}
.my-30 {
    margin-top:30px;
    margin-bottom: 30px;
}

.mb-15 {
    margin-bottom: 15px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.action-buttons {
    ion-button {
        width: 140px;
    }
}
app-login.ion-page,app-forgot-password.ion-page,app-registration.ion-page {
    background: linear-gradient(90deg, #08567b, #032b45);
}
.link {
    color:white;
    font-size:20px
}

ion-button.button-outline.ion-activatable  {
    --border-color:  linear-gradient(90deg, #08567b, #032b45);;
    --background: transparent;
    --color:  linear-gradient(90deg, #08567b, #032b45);;
    --color-focused:  linear-gradient(90deg, #08567b, #032b45);
    
}