<div class="center w-p-100 toolbar">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="m-l-r-5 h-px-90">
            <div class =" row ver_hor_center">
                <i class="fa fa-user-circle" aria-hidden="true" style='color: white; font-size: 25px; margin-top:40px'></i>
                <ion-item>
                    <ion-label position="floating" class ='text-white'>Username</ion-label>
                    <ion-input type="text" formControlName="userName"></ion-input>
                </ion-item>
            </div>
            <div [hidden]="!isValidField(loginForm, 'userName')">
                <p class="error height-match">{{getErrorMessage(loginForm, validationMessages, 'userName')}}</p>
            </div>
        </div>
        <div class="m-l-r-10 h-px-70">
            <div class =" row ver_hor_center">
                <i class="fa fa-key" aria-hidden="true" style='color: white; font-size: 25px; margin-top:40px'></i>
                <ion-item>
                    <ion-label position="floating" class ='text-white'>Password</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
            </div>
            <div [hidden]="!isValidField(loginForm, 'password')">
                <p class="error height-match">{{getErrorMessage(loginForm, validationMessages, 'password')}}</p>
            </div>
        </div>

        <div class="m-l-r-10 ion-text-center mt-15 py-15">
            <ion-button type="submit"  fill="outline" class='w-50-p'>Login</ion-button>
            <div class="m-t-15">
                <div class="ion-float-left">
                    <a routerLink="/registration" class="link">Register? </a>
                </div>
                <div class="ion-float-right">
                    <a routerLink="/forgot-password" class="link">Forgot Password ?</a>
                </div>
            </div>
        </div>

    </form>
</div>