<div class="center w-p-100">
    <form [formGroup]="loginForm">
        <div class="m-l-r-10 h-px-90">
            <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input type="text" formControlName="username"></ion-input>
            </ion-item>
            <div [hidden]="!isValidField(loginForm, 'username')">
                <p class="error height-match">{{getErrorMessage(loginForm, validationMessages, 'username')}}</p>
            </div>
        </div>
        <div class="m-l-r-10 h-px-70">
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div [hidden]="!isValidField(loginForm, 'password')">
                <p class="error height-match">{{getErrorMessage(loginForm, validationMessages, 'password')}}</p>
            </div>
        </div>

        <div class="m-l-r-10 m-t-10 ion-text-center">
            <ion-button expand="block" fill="outline">Login</ion-button>
            <div class="m-t-10">
                <div class="ion-float-left">
                    <a routerLink="/registration">Register? </a>
                </div>
                <div class="ion-float-right">
                    <a routerLink="/forgot-password">Forgot Password ?</a>
                </div>
            </div>
        </div>

    </form>
</div>